<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title><img src="https://wallpaperaccess.com/full/1157099.jpg" height="30px;" width="auto;">Page 3
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-header>
  <ion-toolbar>
    <ion-title>The harvest Colony 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="back">

  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean tincidunt elementum mauris et vulputate. Morbi suscipit
    tincidunt arcu ut tincidunt. Aliquam congue efficitur cursus. Sed consectetur massa vel turpis scelerisque, id porta
    velit tincidunt. Nam est nisl, mollis fringilla euismod sed, aliquet in odio. Praesent blandit mauris vel tellus
    tristique interdum sit amet quis eros. Cras ex elit, tincidunt quis quam quis, semper lobortis dolor. Cras dapibus risus
    quam, sit amet pellentesque ligula euismod id. Integer tincidunt vulputate mauris, in ullamcorper nibh porttitor a.
    Vivamus facilisis vestibulum lacus. Fusce leo tortor, tempor vitae dignissim et, sodales sed ante. Donec sed placerat
    risus, id lobortis elit.
    
    Vivamus tristique ante rutrum nisl semper fringilla. Donec lacinia consequat arcu sed lacinia. Etiam euismod, leo et
    lobortis iaculis, lectus ipsum placerat lacus, pulvinar mattis risus odio in metus. Nulla non dictum ex. Integer et
    porta nisl. Etiam ligula justo, convallis in consequat in, lacinia sed odio. Maecenas eu leo nunc. Nunc urna odio,
    malesuada ac purus id, faucibus eleifend nibh. Cras at sapien lobortis, ultricies quam vel, euismod nisi. Morbi vitae.
  </p>
  <ion-button color="dark" expand="block large" [routerDirection]="'root'" [routerLink]="['/sec1']">Previous Page
  </ion-button>
  <ion-button color="secondary" expand="block large" [routerDirection]="'root'" [routerLink]="['/page2']">Next Page
  </ion-button>
</ion-content>