<ion-header>
  <ion-toolbar>
    <ion-buttons  (click)="upPage()" slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
     The Hunter's Wife 
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content><img
  src="https://wallpaperaccess.com/full/1157099.jpg">

    <ion-button color="dark" expand="block large" [routerDirection]="'root'" [routerLink]="['/page1']">The harvest colony
    </ion-button>
    
    <ion-button color="secondary" expand="block large" [routerDirection]="'root'" [routerLink]="['/page2']">The Hague::
    </ion-button>
    
    
    <ion-button color="dark" expand="block large" [routerDirection]="'root'" [routerLink]="['/page3']">Savage Orion
    </ion-button>
 
<ion-card-header>Written by A.Doer
</ion-card-header>
</ion-content>
